<h1 class="text-center my-3">Cart</h1>
<div class="container mb-5">
	{% if cart.item_count > 0 %}
	<form class="row" action="/cart" method="post" novalidate>
		<div class="col-12 col-md-8">
			<div class="card shadow">
				<div class="card-body">
					<table class="table table-borderless">
						<thead>
							<th colspan="2">Prod</th>
							<th>Price</th>
							<th>Qty</th>
							<th>total</th>
						</thead>
						<tbody>
							{% for item in cart.items %}
							<tr>
								<td>
									<a href="{{ item.url | within: collections.all }}">
										<img
											src="{{ item | img_url: 'small' }}"
											alt="{{ item.title | escape }}"
											style="
												width: 5rem;
												height: 10rem;
												object-fit: cover;
												vertical-align: top;
											"
										/>
									</a>
								</td>
								<td>
									<a href="{{ item.url }}">{{ item.product.title }}</a>
									<small>{{ item.variant.title }}</small>
									<button
										title="remove item from cart"
										class="
											btn- btn-danger
											curreny-font-size
											px-2
											py-1
											rounded-2
										"
									>
										<a
											href="/cart/change?line={{
												forloop.index
											}}&amp;quantity=0"
										>
											<small>remove</small>
										</a>
									</button>
								</td>
								<td>{{ item.price | money }}</td>
								<td>
									<input
										type="number"
										name="updates[]"
										id="updates_{{ item.key }}"
										value="{{ item.quantity }}"
										min="0"
										class="w-100 border-1"
									/>
								</td>
								<td>
									{% if item.original_line_price != item.line_price %}{{
										item.original_line_price | money
									}}{% endif %}
									{{ item.line_price | money }}
									{% for discount in item.discounts %}{{ discount.title }}{%
									endfor %}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="card shadow">
				<div class="card-body">
					<h3>The total amount is:</h3>
					<p>{{ cart.total_price | money }}</p>
					<div class="d-grid gap-2">
						<button
							class="btn btn-primary current-font-size"
							type="submit"
							name="update"
							title="update cart items"
						>
							Update
						</button>
						<button
							class="btn btn-primary current-font-size"
							type="submit"
							name="checkout"
							title="checkout and process to buy the items in cart"
						>
							Checkout
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	{% else %}
	<p>Cart is empty</p>
	{% endif %}
</div>
